min_version = "2025.7.0"

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["node"]

[tools]
"npm:ccusage" = "18.0.5"

[env._]
path = ["{{cwd}}/node_modules/.bin", "{{config_root}}/node_modules/.bin"]

[hooks]
postinstall = ["corepack enable", "pnpm install --frozen-lockfile"]

[tasks.build]
run = "turbo run build"

[tasks.check]
run = "turbo run check --continue"

[tasks.ci]
run = "turbo run ci --continue"

[tasks.dev]
run = "turbo run dev"

[tasks.fix]
run = "turbo run fix"

[tasks.test]
run = "turbo run test --continue"
